<div class="container-fluid">
  <div class="container">
    <h1>Authors</h1>
    <ul>
      <li *ngFor="let author of authors$ | async">
        {{ author.firstName }} {{ author.lastName }}
      </li>
    </ul>
    <hr>
    <input type="text" name="firstName" id="firstName" [(ngModel)]="firstName">
    <br>
    <br>
    <input type="text" name="lastName" id="lastName" [(ngModel)]="lastName">
    <br>
    <br>
    <button type="button" class="btn btn-primary" (click)="addNewAuthor()">Add Author</button>
  </div>
</div>