<div class="container">
    <div class="row">
        <div class="col-6">
            <div *ngFor="let server of servers" class="app-server"></div>
        </div>
        <div class="col-6">
            <div class="app-server"></div>
        </div>
    </div>
</div>
<button [disabled]="allowNewServer" (click)="onCreateServer()">Add new Server</button>

<input *ngIf="allowNewServer; else noServer" type="text" name="text" id="text" (input)="onUpdateServerName($event)">
<ng-template #noServer>
    <p>We are using ngIf</p>
</ng-template>
<p>{{serverName}}</p>

<button (click)="onCreateServer()">Add new Server</button>
<input type="text" name="data" id="data" [(ngModel)]="serverNameTwo">
<p>{{serverNameTwo}}</p>


<div app-item></div>